#section-53294 .contact-form-wrap,
.contact-form-wrapper {
  margin: -22px 0 0;
  max-width: 740px !important;
}
#section-53294 .contact-form-wrap,
.contact-form-wrapper,
.digiteum_quote {
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.1);
}
#catapult-cookie-bar h3,
#primary_footer .footer_sidebar > .widget > h4,
#primary_footer .footer_sidebar > h4,
.testimonials-slide-content .text-container span p,
header.navbar .nav-container i:hover:not(.dropdown-menu i:hover) {
  color: #fff;
}
.has-cookie-bar #catapult-cookie-bar {
  opacity: 1;
  max-height: 999px;
  min-height: 30px;
}
.broken_link,
a.broken_link {
  text-decoration: line-through;
}
header .nav-container .navbar-header a {
  z-index: 999;
}
#section-53294 .contact-form-wrap {
  background: #fff;
  padding: 39px;
  border: none;
  border-radius: 0;
}
#section-53294 .contact-fields-wrap > div:first-child,
#section-53294 .contact-fields-wrap > div:nth-child(2),
#section-53294 .contact-fields-wrap > div:nth-child(3) {
  display: block;
  flex: none;
  width: 220px;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div:first-child,
.contact-form-wrapper .contact_ap > div:first-child {
  width: 314px;
  margin-right: 24px;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div:nth-child(3),
.contact-form-wrapper .contact_ap > div:nth-child(3) {
  width: 100%;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div {
  margin-bottom: 30px;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div:nth-child(2) {
  width: 312px;
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  #section-53294 .contact-form-wrap .contact-fields-wrap > div:first-child,
  #section-53294 .contact-form-wrap .contact-fields-wrap > div:nth-child(2) {
    width: 100%;
  }
}
#section-53294 .contact-fields-wrap .contact-fields .title {
  margin-left: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 16px;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}
#section-53294 .contact-fields-wrap input,
#section-53294 .contact-fields-wrap textarea {
  outline: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  padding-left: 20px !important;
  border-radius: 0 !important;
}
#section-53294 .contact-form-wrap input[type="password"],
#section-53294 .contact-form-wrap input[type="tel"],
#section-53294 .contact-form-wrap input[type="url"],
#section-53294 contact-form-wrap input[type="text"],
.contact-form-wrap input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 !important;
}
#section-53294 .contact-form-wrap input[type="text"] {
  height: 60px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
}
#section-53294 .contact-fields-wrap textarea {
  min-height: 130px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  padding-top: 10px !important;
  width: 100%;
  resize: none;
  max-height: 260px;
  height: 100vh;
}
#section-53294 .contact-fields-wrap input[type="submit"] {
  padding: 0 !important;
  display: block;
  max-width: 215px;
  width: 100%;
  height: 46px;
  border: none;
  background: #dd170f;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
#section-53294 .contact-fields-wrap input[type="submit"]:hover {
  background: #303030;
}
.single-portfolio
  .single-portfolio-page
  .section-text-and-image
  .section-wrapper
  .text-content
  .text
  ul
  li {
  list-style: none;
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.portfolio-page .more-posts-btn .load-more-btn-portfolio {
  border-radius: 0 !important;
}
.grecaptcha-badge {
  display: none !important;
}
.master_container {
  background: #f2f2f2 !important;
}
.contact-title h1 {
  letter-spacing: -0.05em;
}
.contact-form-wrapper {
  background: #fff;
  padding: 44px;
}

.vc_custom_1462978239517,
.vc_custom_1469103273669,
.vc_custom_1664435867698 {
  margin-top: 80px !important;
}
.vc_custom_1663945087741,
.vc_custom_1664435802192 {
  margin-left: 21px !important;
}
.contact-form-wrapper .contact_ap > div:nth-child(2) {
  width: 314px;
  margin-right: 0;
}
.contact-form-wrapper .contact_ap textarea {
  max-height: 260px;
  height: 100vh;
}
.contact-form-wrapper .btn-before-send {
  margin-top: 30px;
}
.contact-address-line .Defaults-map-marker {
  margin-left: 20px;
  display: block;
}
.contact-side-list .smile_icon_list li.icon_list_item {
  margin-bottom: 20px !important;
}
.contact-side-list .icon_list_item .icon_list_icon {
  margin-top: 8px;
}
.contact-side-list .icon_list_item .icon_description {
  color: #000;
  padding-left: 10px !important;
}
.contact-side-list .icon_list_item .icon_description h3 {
  font-weight: 400 !important;
}
@media (max-width: 1200px) {
  .contact-form-wrapper .contact_ap > div:first-child,
  .contact-form-wrapper .contact_ap > div:nth-child(2) {
    width: 100%;
  }
  div.digiteum_quote .b-author__image {
    display: none;
  }
  div.digiteum_quote .b-author__info p {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .contact-address-line .Defaults-map-marker {
    margin-left: 6px;
  }
  div.digiteum_quote {
    padding: 32px 30px 26px;
  }
  div.digiteum_quote .text-box p {
    font-size: 14px;
  }
}
.wpb_animate_when_almost_visible {
  opacity: 1;
}
.tp-caption {
  text-align: left;
}
.blake-button-color,
.navbar-collapse > ul > li.current-menu-ancestor > a,
.navbar-collapse > ul > li.current-menu-item > a,
.navbar-collapse > ul > li > a.selected,
.navbar-collapse > ul > li > a:hover {
  color: #dd170f;
}
.navbar-collapse > ul > li > a {
  font-family: "Open Sans", Arial, "sans-serif", sans-serif;
  font-weight: 400;
  color: #202020;
  letter-spacing: 0;
}
.navbar-default .navbar-nav > li > a {
  padding: 25px 19px;
}
header.header_after_scroll .navbar-nav > li > ul,
header:not(.header_after_scroll) .navbar-nav > li > ul {
  margin-top: 25px;
}
.digiteum_quote .b-author__info p,
.digiteum_quote .text-box p {
  color: #000;
}
header.header_after_scroll.navbar-default .navbar-nav > li > a {
  padding: 25px 20px;
}
header.navbar .nav-container i {
  color: #aaa;
}
header.header_after_scroll.navbar .nav-container i {
  color: #c3c5c5;
}
header.header_after_scroll.navbar .nav-container i:hover {
  color: #edb44d;
}
.container-ch {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-ch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container-ch .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  margin-top: 5px;
}
.container-ch input:checked ~ .checkmark {
  margin-top: 5px;
}
.container-ch .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  top: 1px;
  width: 6px;
  height: 8px;
  border: solid #dd170f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 2px;
}
.container-ch input:checked ~ .checkmark:after {
  display: block;
}
.digiteum_quote {
  position: relative;
  border-radius: 2px;
  background: #fff;
  padding: 40px 50px 70px;
}
.digiteum_quote:before {
  content: "";
  display: block;
  width: 56px;
  height: 42px;
  margin-left: -25px;
  margin-top: -15px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='56' height='42' viewBox='0 0 56 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.988 42L30.7286 40.1557C33.8631 28.1397 38.8446 14.7545 45.6732 0H56C54.3208 6.42715 52.6417 13.6926 50.9625 21.7964C49.3393 29.8443 48.1639 36.5788 47.4363 42H31.988ZM1.0075 42L0 40.1557C1.23138 35.1257 3.21839 28.8663 5.96102 21.3772C8.70365 13.8882 11.6422 6.76248 14.7766 0H25.1034C21.4093 14.1956 18.5267 28.1956 16.4558 42H1.0075Z' fill='%23DD170F'/%3E%3C/svg%3E%0A");
}
.digiteum_quote .text-box {
  max-width: 468px;
  width: 100%;
  font-size: 20px;
  line-height: 1.9;
  padding: 0;
  margin: 0;
}
.digiteum_quote .b-author {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.b-author__image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  flex: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 25px;
}
.digiteum_quote .b-author__info .info__name {
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}
.digiteum_quote .b-author__info p {
  font-size: 18px;
  line-height: 1.7;
  margin: 0;
}
@media (max-width: 767px) {
  .contact-form-wrapper {
    padding: 20px;
  }
  .contact-form-wrapper .btn-before-send {
    margin-top: 10px;
  }
  .contact-address-line {
    display: flex;
  }
  .contact-address-line .vc_col-sm-2 {
    width: auto;
  }
  .contact-address-line .Defaults-map-marker {
    margin-left: 20px;
  }
  div.digiteum_quote {
    display: block;
    margin-left: 0 !important;
    margin-top: 0;
    padding: 40px 50px 70px;
  }
  div.digiteum_quote .text-box p {
    font-size: 20px !important;
  }
  div.digiteum_quote .b-author__image {
    display: block;
  }
  div.digiteum_quote .b-author__info p {
    font-size: 18px !important;
  }
  .digiteum_quote:before {
    margin-left: 10px;
  }
}
.vc_custom_1462978239517 {
  margin-bottom: 40px !important;
}
.vc_custom_1664435802192 {
  margin-top: -22px !important;
}
.vc_custom_1663944815267 {
  margin-left: 7px !important;
}
