.blake-button-color,
.blake-button-color-1d:after,
.blake_little_shopping_bag .overview span.minicart_items,
.btn-contact-left input,
.cbp-l-caption-buttonLeft:hover,
.cbp-l-caption-buttonRight:hover,
.colored-section,
.container1 > div,
.container2 > div,
.container3 > div,
.divider.colored,
.double-bounce1,
.double-bounce2,
.errorbutton,
.flex-control-paging li a.flex-active,
.hi-icon-effect-1b .hi-icon:hover,
.light #contacts a.p-button,
.nav-next:hover,
.nav-previous:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.newsletter_shortcode form input.button,
.next-posts:hover,
.no-touch .hi-icon-effect-1a .hi-icon:hover,
.no-touch .hi-icon-effect-1b .hi-icon:hover,
.panel-group .panel.active .panel-heading,
.post-content a:hover .post-quote,
.post-listing .post a:hover .post-quote,
.prev-posts:hover,
.pricing .bestprice .price,
.pricing .bestprice .signup,
.projects-overlay #projects-loader,
.readmore:hover,
.rounded.fill,
.services-graph li span,
.signup:hover,
.single #commentform .form-submit #submit,
.single-portfolio .social-shares ul li a:hover i,
.symbol.colored .line-left,
.symbol.colored .line-right,
.tabs li.current,
.tagcloud a:hover,
.vc_tta-color-grey.vc_tta-style-classic
  .vc_tta-panel.vc_active
  .vc_tta-panel-title
  > a
  i.vc_tta-controls-icon,
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range,
a#send-comment,
a.p-button.colored,
a.p-button:hover,
a.sf-button.hide-icon,
h2.post-title.post-link:hover {
  background-color: #dd170f;
}
.custom-widget.widget_recent_entries li a:after,
.widget li a:after,
.widget_nav_menu li a:after {
  color: #666;
}
#recentcomments li,
.aio-icon-description,
.contact-widget-container h4,
.custom-widget h4,
.custom-widget ul li a,
.des_partners_widget h4,
.lovepost a,
.smile_icon_list li .icon_description p,
.the_content ol li,
.the_content ul li,
.widget p,
.widget span,
.widget ul li,
.widget ul li a,
.widget.des_cubeportfolio_widget h4,
.widget.des_recent_posts_widget h4,
.widget.widget-newsletter h3,
body,
li,
p {
  font-family: "Open Sans", Arial, "sans-serif", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666;
}
.map_info_text {
  font-family: "Open Sans", Arial, "sans-serif", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666 !important;
}
#agency-slider h5,
#big_footer .widget-newsletter .banner .text_color,
#big_footer a:hover,
#contact li a:hover,
#contacts .form-success p,
#contacts .tweet_text a,
#contacts .tweet_time a,
#contacts a:hover,
#elements h4,
.big-icon i,
.blake-button-color span,
.blake_breadcrumbs a:hover,
.btn-1d:active,
.btn-1d:hover,
.contacts li i,
.custom-widget .widget-newsletter .banner .text_color,
.des-pages .postpagelinks,
.filter li a.active,
.filter li a:hover,
.grid .figcaption a.thumb-link:hover,
.header_after_scroll .navbar-collapse > ul > li.current-menu-ancestor > a,
.header_after_scroll .navbar-collapse > ul > li.current-menu-item > a,
.header_after_scroll .navbar-collapse > ul > li > a.selected,
.header_after_scroll .navbar-collapse > ul > li > a:hover,
.icon-nofill,
.light-menu .dropdown-menu > li > a:focus,
.ms-showcase1 .product-tt h3,
.ms-staff-carousel .ms-staff-info h4,
.nav-container .social-icons-fa a i:hover,
.nav-next-nav1:hover a,
.nav-previous-nav1:hover a,
.navbar-collapse > ul > li.current-menu-ancestor > a,
.navbar-collapse > ul > li.current-menu-item > a,
.navbar-collapse > ul > li > a.selected,
.navbar-collapse > ul > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default.dark .navbar-brand:focus,
.navbar-default.dark .navbar-brand:hover,
.navbar-default.light-menu .navbar-nav > .open > a,
.navbar-default.light-menu .navbar-nav > .open > a:focus,
.navbar-default.light-menu .navbar-nav > .open > a:hover,
.navbar-default.light-menu .navbar-nav > li > a.selected,
.navbar-default.light-menu .navbar-nav > li > a.selected:hover,
.navbar-nav .dropdown-menu a:hover,
.pageXofY .pageX,
.page_content a:hover,
.pricing .bestprice .name,
.profile .profile-name,
.slidecontent-bi .project-title-bi p a:hover,
.social-font-awesome li a:hover,
.special_tabs.icontext .label.current a,
.special_tabs.text .label.current a,
.symbol.colored i,
.tags a:hover,
.team-position,
.text_color,
.the_title h2 a:hover,
.title-color,
.tp-caption a:hover,
.widget ul li a:hover,
.widget_links ul li a:hover,
.widget_nav_menu .current-menu-item > a,
.wpb_content_element .wpb_accordion_header.ui-accordion-header-active a,
a,
a.go-about:hover,
a.p-button.border:hover,
a.social:hover:before,
h2.post-title a:hover,
header a:hover {
  color: #dd170f;
}
#big_footer .newsletter_shortcode .banner h3 .text_color,
#big_footer .social-icons-fa a i:hover,
.aio-icon-read,
.custom-widget li a:hover:before,
.footer_sidebar ul li a:hover:before,
.homepage_parallax .home-logo-text a.dark:hover,
.homepage_parallax .home-logo-text a.light:hover,
.partners-container .slick-dots .slick-active i,
.single-portfolio .social-shares ul li a:hover,
.special_tabs.icontext .label.current i,
.tp-caption a.text_color,
.vc_tta-color-grey.vc_tta-style-classic
  .vc_tta-panel.vc_active
  .vc_tta-panel-title
  > a,
.widget li a:hover:before,
.widget_nav_menu li a:hover:before {
  color: #dd170f !important;
}
.btn-contact-left.inversecolor input:hover,
.flip-box-wrap .flip_link a:hover,
.vc_btn3-style-custom:hover,
.wpcf7 .blake-form-main-slider .slider-button input {
  background-color: #dd170f !important;
  color: #fff !important;
}
.flip-box-wrap .flip_link a:hover {
  border: 2px solid #dd170f;
}
.style-dark .slick-dots li.slick-active i,
.style-light .slick-dots li.slick-active i,
.widget .slick-dots li.slick-active i {
  color: #dd170f !important;
  opacity: 1;
}
.woocommerce #content div.product form.cart .button,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce div.product form.cart .button,
.woocommerce input.button,
.woocommerce ul.products li.product .onsale,
.woocommerce-page #content div.product form.cart .button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page div.product form.cart .button,
.woocommerce-page input.button,
.woocommerce-page ul.products li.product .onsale {
  background-color: #dd170f;
  color: #fff !important;
}
.nav-container a.button.blake_minicart_cart_but:hover,
.nav-container a.button.blake_minicart_checkout_but:hover {
  background-color: #dd170f !important;
  color: #fff !important;
  border: 2px solid #dd170f !important;
  opacity: 1;
}
.blake-button-color-1d:active,
.blake-button-color-1d:hover {
  border: 1px double #dd170f;
}
.blake-button-color {
  color: #dd170f;
}
.blake-button-color,
.des-pages .postpagelinks,
.filter li a.active,
.filter li a:hover,
.panel-group .panel.active .panel-heading,
.tagcloud a:hover,
.widget_posts .tabs li.current {
  border: 1px solid #dd170f;
}
.hi-icon-effect-1 .hi-icon:after {
  box-shadow: 0 0 0 3px #dd170f;
}
.colored-section:after {
  border: 20px solid #dd170f;
}
.navbar-default.light-menu.border .navbar-nav > li > a.selected,
.navbar-default.light-menu.border .navbar-nav > li > a.selected:before,
.navbar-default.light-menu.border .navbar-nav > li > a.selected:hover {
  border-bottom: 1px solid #dd170f;
}
.cbp-l-caption-alignCenter .cbp-l-caption-buttonLeft:hover,
.cbp-l-caption-alignCenter .cbp-l-caption-buttonRight:hover {
  background-color: #212121 !important;
  color: #fff !important;
}
.doubleborder {
  border: 6px double #dd170f;
}
.special_tabs.icon .current .blake_icon_special_tabs {
  background: #dd170f;
  border: 1px solid transparent;
}
.dl-menuwrapper li:not(.blake_mega_hide_link) a,
.gosubmenu,
.nav-container .blake_minicart ul li,
.navbar-collapse ul.menu-depth-1 li:not(.blake_mega_hide_link) a {
  font-family: "Open Sans", Arial, "sans-serif", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #949494;
  letter-spacing: 0;
}
.dl-trigger,
.navbar-collapse > ul > li > a {
  font-size: 17px;
  text-transform: uppercase;
}
.dl-back,
header.header_after_scroll .dl-back,
header.header_after_scroll .dl-menuwrapper li:not(.blake_mega_hide_link) a,
header.header_after_scroll .gosubmenu,
header.header_after_scroll
  .navbar-collapse
  ul.menu-depth-1
  li:not(.blake_mega_hide_link)
  a {
  color: #949494;
}
.dl-menuwrapper li.dl-back:hover,
.dl-menuwrapper li:not(.blake_mega_hide_link):hover > .gosubmenu,
.dl-menuwrapper li:not(.blake_mega_hide_link):hover > a,
.navbar-collapse ul.menu-depth-1 li:not(.blake_mega_hide_link):hover > a,
.navbar-nav .dropdown-menu a:hover i,
header.header_after_scroll .dl-menuwrapper li.dl-back:hover,
header.header_after_scroll
  .dl-menuwrapper
  li:not(.blake_mega_hide_link):hover
  > a,
header.header_after_scroll
  .dl-menuwrapper
  li:not(.blake_mega_hide_link):hover
  > header.header_after_scroll
  .gosubmenu,
header.header_after_scroll
  .navbar-collapse
  ul.menu-depth-1
  li:not(.blake_mega_hide_link):hover
  > a {
  color: #f5f5f5;
}
#dl-menu ul,
.blake_minicart,
.dl-menu li:hover,
header.header_after_scroll #dl-menu ul,
header.header_after_scroll #dl-menu ul li:hover,
header.header_after_scroll li.blake_mega_menu li.menu-item-depth-1 li:hover,
header.header_after_scroll li:not(.blake_mega_menu) ul.menu-depth-1 li:hover,
header.header_after_scroll ul.menu-depth-1,
header.header_after_scroll ul.menu-depth-1 ul,
li.blake_mega_menu li.menu-item-depth-1 li:hover,
li:not(.blake_mega_menu) ul.menu-depth-1 li:hover,
ul.menu-depth-1,
ul.menu-depth-1 ul {
  background-color: #1f1f1f !important;
}
.navbar-collapse .blake_mega_menu ul.menu-depth-2,
.navbar-collapse .blake_mega_menu ul.menu-depth-2 ul,
header.header_after_scroll .navbar-collapse .blake_mega_menu ul.menu-depth-2,
header.header_after_scroll
  .navbar-collapse
  .blake_mega_menu
  ul.menu-depth-2
  ul {
  background-color: transparent !important;
}
.navbar-collapse li:not(.blake_mega_menu) ul.menu-depth-1 li:not(:first-child),
header.header_after_scroll
  .navbar-collapse
  li:not(.blake_mega_menu)
  ul.menu-depth-1
  li:not(:first-child) {
  border-top: 1px solid #242424;
}
.navbar-collapse li.blake_mega_menu ul.menu-depth-2,
header.header_after_scroll .navbar-collapse li.blake_mega_menu ul.menu-depth-2 {
  border-right: 1px solid #242424;
}
#dl-menu ul li:not(:last-child) a,
.blake_sub_menu_border_color,
header.header_after_scroll #dl-menu li:not(:last-child) a,
header.header_after_scroll #dl-menu ul li:not(:last-child) a {
  border-bottom: 1px solid #242424;
}
.navbar-collapse > ul > li > a {
  font-family: "Open Sans", Arial, "sans-serif", sans-serif;
  font-weight: 400;
  color: #202020;
  letter-spacing: 0;
}
.navbar-default .navbar-nav > li > a {
  padding: 25px 19px;
}
header.header_after_scroll.style1 .blake_dynamic_shopping_bag,
header.header_after_scroll.style1 .header_social_icons,
header.header_after_scroll.style1 .search_trigger,
header.header_after_scroll.style2 .blake_dynamic_shopping_bag,
header.header_after_scroll.style2 .header_social_icons,
header.header_after_scroll.style2 .search_trigger,
header.style1 .blake_dynamic_shopping_bag,
header.style1 .header_social_icons,
header.style1 .search_trigger,
header.style2 .blake_dynamic_shopping_bag,
header.style2 .header_social_icons,
header.style2 .search_trigger {
  padding-top: 25px;
  padding-bottom: 25px;
}
header.header_after_scroll .navbar-nav > li > ul,
header:not(.header_after_scroll) .navbar-nav > li > ul {
  margin-top: 25px;
}
.header_after_scroll .dl-menuwrapper button:after,
header:not(.header_after_scroll) .dl-menuwrapper button:after {
  background: #dd170f;
  box-shadow: 0 6px 0 #dd170f, 0 12px 0 #dd170f;
}
.blake_minicart_wrapper,
header.header_after_scroll .blake_minicart_wrapper {
  padding-top: 25px;
}
li.blake_mega_hide_link > a,
li.blake_mega_hide_link > a:hover {
  font-family: "Open Sans", Arial, "sans-serif" !important;
  font-weight: 400;
  font-size: 12px !important;
  color: #f2f2f2 !important;
  letter-spacing: 0 !important;
}
.nav-container .blake_minicart li a:hover {
  color: #f2f2f2 !important;
  text-decoration: none;
}
.nav-container .blake_minicart li a {
  font-family: "Open Sans", Arial, "sans-serif";
  font-weight: 400;
  font-size: 13px;
  color: #949494;
  letter-spacing: 0;
}
.dl-trigger {
  font-family: "Open Sans", Arial, "sans-serif" !important;
  font-weight: 400 !important;
  letter-spacing: 0;
}
#big_footer a,
.blake_breadcrumbs,
.blake_breadcrumbs a,
.blake_breadcrumbs span,
.header_after_scroll .navbar-collapse > ul > li > a,
.page_content a,
h1,
h2,
h3,
h4,
h5,
h6,
header .search_input .ajax_search_results ul li a,
header .search_input input.search_input_value,
header a {
  font-family: "Open Sans", Arial, "sans-serif";
}
#big_footer a,
.page_content a,
header a {
  font-weight: 400;
  font-size: 16px;
  color: #666;
}
.contact-widget-container h4,
.custom-widget h4,
.des_partners_widget h4,
.widget h2 > .widget_title_span,
.widget.des_cubeportfolio_widget h4,
.widget.des_recent_posts_widget h4,
.widget.widget-newsletter h3,
.wpb_content_element .wpb_accordion_header a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}
h1 {
  font-weight: 400;
  font-size: 52px;
}
h2 {
  font-weight: 400;
  font-size: 32px;
}
h3 {
  font-weight: 400;
  font-size: 24px;
}
h4 {
  font-weight: 400;
  font-size: 21px;
}
.ult-item-wrap .title h4 {
  font-size: 16px !important;
}
h5 {
  font-weight: 400;
  font-size: 18px;
}
h6 {
  font-weight: 400;
  font-size: 16px;
}
header.navbar {
  background-color: rgba(170, 170, 170, 0);
}
#catapult-cookie-bar .x_close span,
body#boxed_layout,
header.header_after_scroll .navbar-nav > li.blake_mega_menu > .dropdown-menu,
header.header_after_scroll
  .navbar-nav
  > li:not(.blake_mega_menu)
  .dropdown-menu,
header.navbar.header_after_scroll {
  background-color: #fff;
}
header a.navbar-brand {
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 0;
  height: 50px;
}
header a.navbar-brand img,
header.header_after_scroll a.navbar-brand img.logo_after_scroll {
  max-height: 50px;
}
.header_after_scroll .navbar-collapse > ul > li > a {
  font-weight: 400;
  font-size: 17px;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: 0;
}
header.header_after_scroll.navbar-default .navbar-nav > li > a {
  padding: 25px 20px;
}
header.header_after_scroll a.navbar-brand {
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 0;
  height: 50px;
}
#primary_footer > .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
#primary_footer,
#primary_footer input,
#primary_footer textarea {
  background-color: #242427;
}
#primary_footer input,
#primary_footer textarea {
  border: 1px solid #242427;
}
#primary_footer hr,
.footer_sidebar ul li a {
  border-top: 1px solid #242427;
}
.footer_sidebar ul li:last-child {
  border-bottom: 1px solid #242427;
}
#big_footer input,
#big_footer textarea,
#primary_footer,
#primary_footer a,
#primary_footer p {
  color: #acacad;
}
#catapult-cookie-bar h3,
#primary_footer .footer_sidebar > .widget > h4,
#primary_footer .footer_sidebar > h4,
.testimonials-slide-content .text-container span p,
header.navbar .nav-container i:hover:not(.dropdown-menu i:hover) {
  color: #fff;
}
#secondary_footer {
  background-color: #1e1e21;
  padding-top: 20px;
  padding-bottom: 20px;
}
header .search_input {
  background-color: rgba(23, 22, 29, 0.98);
}
header .search_input input.search_input_value {
  font-weight: 400;
}
header .search_close,
header .search_input input.search_input_value {
  font-size: 30px;
  color: #fff;
}
header .search_input .ajax_search_results ul {
  background-color: rgba(255, 255, 255, 0.98);
}
header .search_input .ajax_search_results ul li.selected {
  background-color: rgba(242, 242, 242, 0.98);
}
header .search_input .ajax_search_results ul li {
  border-bottom: 1px solid #dedede;
}
header .search_input .ajax_search_results ul li a {
  font-weight: 400;
  font-size: 14px;
  color: #696969;
}
header .search_input .ajax_search_results ul li.selected a {
  color: #3d3d3d;
}
header .search_input .ajax_search_results ul li a span,
header .search_input .ajax_search_results ul li a span i {
  font-family: "Open Sans", Arial, "sans-serif";
  font-weight: 400;
  font-size: 12px;
  color: #c2c2c2;
}
header .search_input .ajax_search_results ul li.selected a span {
  color: #c2c2c2;
}
.blake_breadcrumbs,
.blake_breadcrumbs a,
.blake_breadcrumbs span {
  font-weight: 400;
  color: #f2f2f2;
  font-size: 13px;
}
#menu_top_bar > li ul,
#menu_top_bar > li ul li:hover {
  background: #1e1e1e;
}
#menu_top_bar > li ul a {
  color: #8c8c8c !important;
}
#menu_top_bar > li ul a:hover,
#menu_top_bar > li ul li:hover > a {
  color: #f2f2f2 !important;
}
header.navbar .nav-container i {
  color: #aaa;
}
header.header_after_scroll.navbar .nav-container i {
  color: #c3c5c5;
}
header.header_after_scroll.navbar .nav-container i:hover {
  color: #edb44d;
}
.bt-contact input {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0px;
}
.flip-box-wrap .ifb-back,
.flip-box-wrap .ifb-front {
  display: table !important;
  width: 100% !important;
  table-layout: fixed !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  min-height: 220px !important;
}
.partners-container.noscroller .partner-item a {
  line-height: 190px;
}
.testimonials-slide-content .img-container {
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.testimonials-slide-content .img-container img {
  max-width: 100%;
  height: auto;
}
.journal .journal-post {
  display: inline-block;
  vertical-align: top;
  max-width: 380px;
  margin-right: 45px;
  margin-bottom: 20px;
}
.journal .journal-post:nth-child(2n) {
  margin-right: 0;
}
.tp-caption {
  text-align: left;
}
:root {
  --lazy-loader-animation-duration: 300ms;
}
.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 0.3s;
  transition: opacity var(--lazy-loader-animation-duration);
}
.lazyload {
  display: none;
}
.lazyload[class*="lazy-loader-background-element-"] {
  display: block;
  opacity: 1;
}
#catapult-cookie-bar {
  box-sizing: border-box;
  max-height: 0;
  opacity: 0;
  z-index: 99999;
  overflow: hidden;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666;
}
#catapult-cookie-bar a {
  color: #ddd;
}
button#catapultCookie {
  background: #dd170f;
  color: #fff;
  border: 0;
  padding: 6px 9px;
  border-radius: 3px;
}
.has-cookie-bar #catapult-cookie-bar {
  opacity: 1;
  max-height: 999px;
  min-height: 30px;
}
.broken_link,
a.broken_link {
  text-decoration: line-through;
}
header .nav-container .navbar-header a {
  z-index: 999;
}
#section-53294 .contact-form-wrap {
  background: #fff;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.1);
  margin: -22px 0 0;
  padding: 39px;
  max-width: 740px !important;
  border: none;
  border-radius: 0;
}
#section-53294 .contact-fields-wrap > div:first-child,
#section-53294 .contact-fields-wrap > div:nth-child(2),
#section-53294 .contact-fields-wrap > div:nth-child(3) {
  display: block;
  flex: none;
  width: 220px;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div:first-child {
  width: 314px;
  margin-right: 24px;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div:nth-child(3) {
  width: 100%;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div {
  margin-bottom: 30px;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div:nth-child(2) {
  width: 312px;
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  #section-53294 .contact-form-wrap .contact-fields-wrap > div:first-child,
  #section-53294 .contact-form-wrap .contact-fields-wrap > div:nth-child(2) {
    width: 100%;
  }
}
#section-53294 .contact-fields-wrap .contact-fields .title {
  margin-left: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 16px;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}
#section-53294 .contact-fields-wrap input,
#section-53294 .contact-fields-wrap textarea {
  outline: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  padding-left: 20px !important;
  border-radius: 0 !important;
}
#section-53294 .contact-form-wrap input[type="password"],
#section-53294 .contact-form-wrap input[type="tel"],
#section-53294 .contact-form-wrap input[type="url"],
#section-53294 contact-form-wrap input[type="text"],
.contact-form-wrap input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 !important;
}
#section-53294 .contact-form-wrap input[type="text"] {
  height: 60px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
}
#section-53294 .contact-fields-wrap textarea {
  min-height: 130px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  padding-top: 10px !important;
  width: 100%;
  resize: none;
  max-height: 260px;
  height: 100vh;
}
#section-53294 .contact-fields-wrap input[type="submit"] {
  padding: 0 !important;
  display: block;
  max-width: 215px;
  width: 100%;
  height: 46px;
  border: none;
  background: #dd170f;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
#section-53294 .contact-fields-wrap input[type="submit"]:hover {
  background: #303030;
}
.single-portfolio
  .single-portfolio-page
  .section-text-and-image
  .section-wrapper
  .text-content
  .text
  ul
  li {
  list-style: none;
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.portfolio-page .more-posts-btn .load-more-btn-portfolio {
  border-radius: 0 !important;
}
.grecaptcha-badge {
  display: none !important;
}
.wpb_animate_when_almost_visible {
  opacity: 1;
}
header .header_social_icons,
header .header_social_icons_wrapper {
  min-width: 0;
}
