.navbar-collapse > ul > li.current-menu-ancestor > a,
.navbar-collapse > ul > li.current-menu-item > a,
.navbar-collapse > ul > li > a.selected,
.navbar-collapse > ul > li > a:hover,
.navbar-collapse > ul > li > a {
  font-family: "Open Sans", Arial, "sans-serif", sans-serif;
  font-weight: 400;
  color: #202020;
  letter-spacing: 0;
}
.navbar-default .navbar-nav > li > a {
  padding: 25px 19px;
}
header.header_after_scroll .navbar-nav > li > ul,
header:not(.header_after_scroll) .navbar-nav > li > ul {
  margin-top: 25px;
}
#big_footer a,
.blake_breadcrumbs,
.blake_breadcrumbs a,
.blake_breadcrumbs span,
.header_after_scroll .navbar-collapse > ul > li > a,
.page_content a,
h1,
h2,
h3,
h4,
h5,
h6,
header .search_input .ajax_search_results ul li a,
header .search_input input.search_input_value,
header a {
  font-family: "Open Sans", Arial, "sans-serif";
}
#big_footer a,
.page_content a,
header a {
  font-weight: 400;
  font-size: 16px;
  color: #666;
}
h1 {
  font-weight: 400;
  font-size: 52px;
}
h2 {
  font-weight: 400;
  font-size: 32px;
}
h3 {
  font-weight: 400;
  font-size: 24px;
}
h4 {
  font-weight: 400;
  font-size: 21px;
}
.ult-item-wrap .title h4 {
  font-size: 16px !important;
}
h5 {
  font-weight: 400;
  font-size: 18px;
}
h6 {
  font-weight: 400;
  font-size: 16px;
}
header.header_after_scroll.navbar-default .navbar-nav > li > a {
  padding: 25px 20px;
}
#catapult-cookie-bar h3,
#primary_footer .footer_sidebar > .widget > h4,
#primary_footer .footer_sidebar > h4,
.testimonials-slide-content .text-container span p,
header.navbar .nav-container i:hover:not(.dropdown-menu i:hover) {
  color: #fff;
}
header .search_input input.search_input_value {
  font-weight: 400;
}
header .search_input .ajax_search_results ul li a {
  font-weight: 400;
  font-size: 14px;
  color: #696969;
}
.blake_breadcrumbs,
.blake_breadcrumbs a,
.blake_breadcrumbs span {
  font-weight: 400;
  color: #f2f2f2;
  font-size: 13px;
}
header.navbar .nav-container i {
  color: #aaa;
}
header.header_after_scroll.navbar .nav-container i {
  color: #c3c5c5;
}
header.header_after_scroll.navbar .nav-container i:hover {
  color: #edb44d;
}
.broken_link,
a.broken_link {
  text-decoration: line-through;
}
header .nav-container .navbar-header a {
  z-index: 999;
}
#section-53294 .contact-form-wrap {
  background: #fff;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.1);
  margin: -22px 0 0;
  padding: 39px;
  max-width: 740px !important;
  border: none;
  border-radius: 0;
}
#section-53294 .contact-fields-wrap > div:first-child,
#section-53294 .contact-fields-wrap > div:nth-child(2),
#section-53294 .contact-fields-wrap > div:nth-child(3) {
  display: block;
  flex: none;
  width: 220px;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div:first-child {
  width: 314px;
  margin-right: 24px;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div:nth-child(3) {
  width: 100%;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div {
  margin-bottom: 30px;
}
#section-53294 .contact-form-wrap .contact-fields-wrap > div:nth-child(2) {
  width: 312px;
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  #section-53294 .contact-form-wrap .contact-fields-wrap > div:first-child,
  #section-53294 .contact-form-wrap .contact-fields-wrap > div:nth-child(2) {
    width: 100%;
  }
}
#section-53294 .contact-fields-wrap .contact-fields .title {
  margin-left: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 16px;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}
#section-53294 .contact-fields-wrap input,
#section-53294 .contact-fields-wrap textarea {
  outline: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  padding-left: 20px !important;
  border-radius: 0 !important;
}
#section-53294 .contact-form-wrap input[type="password"],
#section-53294 .contact-form-wrap input[type="tel"],
#section-53294 .contact-form-wrap input[type="url"],
#section-53294 contact-form-wrap input[type="text"],
.contact-form-wrap input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 !important;
}
#section-53294 .contact-form-wrap input[type="text"] {
  height: 60px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
}
#section-53294 .contact-fields-wrap textarea {
  min-height: 130px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  padding-top: 10px !important;
  width: 100%;
  resize: none;
  max-height: 260px;
  height: 100vh;
}
#section-53294 .contact-fields-wrap input[type="submit"] {
  padding: 0 !important;
  display: block;
  max-width: 215px;
  width: 100%;
  height: 46px;
  border: none;
  background: #dd170f;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
#section-53294 .contact-fields-wrap input[type="submit"]:hover {
  background: #303030;
}
.single-portfolio
  .single-portfolio-page
  .section-text-and-image
  .section-wrapper
  .text-content
  .text
  ul
  li {
  list-style: none;
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.portfolio-page .more-posts-btn .load-more-btn-portfolio {
  border-radius: 0 !important;
}
.grecaptcha-badge {
  display: none !important;
}
.wpb_animate_when_almost_visible {
  opacity: 1;
}
