#catapult-cookie-bar h3,
#primary_footer .footer_sidebar > .widget > h4,
#primary_footer .footer_sidebar > h4,
.testimonials-slide-content .text-container span p,
header.navbar .nav-container i:hover:not(.dropdown-menu i:hover) {
  color: #fff;
}
.broken_link,
a.broken_link {
  text-decoration: line-through;
}
.navbar-collapse > ul > li.current-menu-ancestor > a,
.navbar-collapse > ul > li.current-menu-item > a,
.navbar-collapse > ul > li > a.selected,
.navbar-collapse > ul > li > a:hover {
  color: #dd170f;
}
.navbar-collapse > ul > li > a {
  font-family: "Open Sans", Arial, "sans-serif", sans-serif;
  font-weight: 400;
  color: #202020;
  letter-spacing: 0;
}
.navbar-default .navbar-nav > li > a {
  padding: 25px 19px;
}
header.header_after_scroll .navbar-nav > li > ul,
header:not(.header_after_scroll) .navbar-nav > li > ul {
  margin-top: 25px;
}
header.header_after_scroll.navbar-default .navbar-nav > li > a {
  padding: 25px 20px;
}
header.navbar .nav-container i {
  color: #aaa;
}
header.header_after_scroll.navbar .nav-container i {
  color: #c3c5c5;
}
header.header_after_scroll.navbar .nav-container i:hover {
  color: #edb44d;
}
